[submodule "attribute-service"]
	path = attribute-service
	url = https://github.com/razorpay/hypertrace-attribute-service.git
	branch = main
[submodule "entity-service"]
	path = entity-service
	url = https://github.com/razorpay/hypertrace-entity-service.git
	branch = main
[submodule "gateway-service"]
	path = gateway-service
	url = https://github.com/razorpay/hypertrace-gateway-service.git
	branch = main
[submodule "query-service"]
	path = query-service
	url = https://github.com/razorpay/hypertrace-query-service.git
	branch = main
[submodule "hypertrace-graphql"]
	path = hypertrace-graphql
	url = https://github.com/razorpay/hypertrace-hypertrace-graphql.git
	branch = main
[submodule "config-bootstrapper"]
	path = config-bootstrapper
	url = https://github.com/razorpay/hypertrace-config-bootstrapper.git
	branch = main
[submodule "config-service"]
  path = config-service
  url = https://github.com/razorpay/hypertrace-config-service.git
  branch = main